@import 'tailwindcss/base.css';
@import 'tailwindcss/components.css';
@import 'tailwindcss/utilities.css';

:root *,
button:focus {
  outline-color: #19191aa9;
}

body {
  font-family: 'Google Sans', Roboto, 'Noto Sans', 'Noto Sans JP', 'Noto Sans KR', 'Noto Naskh Arabic', 'Noto Sans Thai',
    'Noto Sans Hebrew', 'Noto Sans Bengali', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  @apply text-sm;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.link {
  @apply text-blue-700;
  &:hover {
    text-decoration: underline;
  }
}

.card {
  @apply rounded-md;
  @apply shadow-md;
}

/* purgecss start ignore */
.rayon-info--jumlah-kk {
  width: 100%;
  max-width: 25px;
  max-height: 25px;
  font-size: 12px;
  align-self: center;
}
/* purgecss end ignore */

.page-header {
  @apply bg-white;
  @apply p-3;
  @apply card;
  @apply text-base;
  // @apply font-bold;
}

.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  user-select: none;
  z-index: 5;
}

.simple-dialog {
  width: 100%;
  max-width: 400px;
  height: max-content;
}

/* purgecss start ignore */
.list--item {
  outline: none;
  @apply flex;
  @apply p-3;
  @apply border-b;
  @apply cursor-pointer;
}
/* purgecss end ignore */

// .list--item:focus {
//   background-color: #3e3e4214;
// }

.max-w-600 {
  max-width: 600px;
}

.hidden-force {
  display: none !important;
}

.time-from-now {
  @apply text-xs;
  @apply text-gray-600;
}
