@import './colors.scss';

/* purgecss start ignore */

.sidenav {
  @apply bg-white;
  @apply flex-col;
  @apply flex;
  @apply max-w-max;
  @apply p-2;
  @apply shadow-md;
  @apply w-full;
  @apply max-h-screen;
  @apply overflow-y-auto;

  li {
    &:first-child {
      a {
        @apply mt-0;
      }
    }

    &:last-child {
      a {
        @apply mb-0;
      }
    }
  }

  a {
    @apply block;
    @apply flex;
    @apply items-center;
    @apply my-1;
    @apply rounded-md;
    transition: background-color 0.1s linear;

    &:not(.active):hover {
      background-color: $bg-semi-transparent;
    }

    &.active {
      @apply bg-blue-500;
      @apply text-white;
      @apply font-bold;
    }

    .mdi {
      @apply m-2;
      @apply px-2;
      @apply text-xl;
    }
  }

  .link-label {
    @apply hidden;
  }
}

@screen lg {
  .sidenav.expand {
    max-width: 230px;

    .link-label {
      display: block;
    }
  }
}

/* purgecss end ignore */
